.container{
    display:flex;
    justify-content: center;
    justify-items:center;
}
.leyends{
       display:flex;
    justify-content: center;
    font-size: 1.5rem;
}
.xyplots{
    position:relative;
}